<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
    <title>Todo/Vue</title>

  </head>
  <body>
    <div id='app'>
      <h1>{{ headerTitle }}</h1>
      <div class="todo-container">
        <input
        type="text"
        :placeholder="inputPlaceholder"
        v-model="inputValue"
        @keyup.enter="createTodo"
      />
      <ol>
        <div v-for="(todo, index) in todos">
          <li @click="toggleDone(index)" :class="{crossedOut: todo.done}">
            {{ todo.text }}
          </li>
          <input type="button" value="X" @click="deleteTodo(index)"/>
        </div>
      </ol>
      </div>
    </div>
    <!--js -->
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
